textarea {
  background: var(--paper);
  color: var(--paper-contrast);
  font-size: 1rem;
  width: calc(100% - 16px);
  resize: vertical;
  padding: 8px;
  border: none;
  outline: none;
  transition: all .2s ease;
}
